PORT=5002
MONGO_URI=mongodb://localhost:27017/civicconnect_db
JWT_SECRET=replace_me
JWT_EXPIRE=10d
COOKIE_EXPIRE=10
SMTP_HOST=smtp.gmail.com
SMTP_SERVICE=gmail
SMTP_PORT=465
SMTP_MAIL=your_email@example.com
SMTP_PASSWORD=replace_me
CLOUDINARY_CLOUD_NAME=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me
CLIENT_URLS=http://localhost:5173
