PORT=5002
NODE_ENV=production
# Local dev: mongodb://localhost:27017/civicconnect_db
# Production: mongodb+srv://username:password@cluster.mongodb.net/civicconnect_db?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/civicconnect_db?retryWrites=true&w=majority
JWT_SECRET=replace_me
JWT_EXPIRE=10d
COOKIE_EXPIRE=10
SMTP_HOST=smtp.gmail.com
SMTP_SERVICE=gmail
SMTP_PORT=465
SMTP_MAIL=your_email@example.com
SMTP_PASSWORD=replace_me
CLOUDINARY_CLOUD_NAME=replace_me
CLOUDINARY_API_KEY=replace_me
CLOUDINARY_API_SECRET=replace_me
# Local dev: http://localhost:5173
# Production: https://civic-connect-steel.vercel.app
CLIENT_URLS=https://civic-connect-steel.vercel.app
